.footer-container {
  background-color:rgb(52, 52, 66);
  height: 55px;
  width: 100%;
  border-style: solid;
}

.footer-text {
  color: rgb(209, 218, 219);
  text-align: center;
  font-weight: bold;
  margin-top: 12px
}

/* .githubpic {
  height: 10%;
  width: 7%;
  margin-left: 40px;
}

.linkedInpic {
  height: 10%;
  width: 2%;
  margin-left: 40px;
}

.gmailpic {
  height: 10%;
  width: 3%;
  margin-left: 40px;
} */